{ box-sizing: border-box; }
header, main, nav, footer, figure, figcaption { display: block; }
body { font-family: Verdana, Arial, sans-serif;
       background-color: #aeb2b0;
	   margin: 0;
	   background-image: linear-gradient(to bottom, #ffffff, #666666);
}
#wrapper { min-width: 40px;
           max-width: 1024px;
           color: #000066;
		   background-color: #FFFFFF;
           width: 80%;
		   margin: auto;
		   border-radius: 15px;
 } 
header { font-family: Georgia,"Times New Roman", serif;
        color: #1f0e30; 
		background-color: #2153d1; 		
		background-repeat: no-repeat;
		margin-top: 0;
		padding-bottom: 1em;
		height: 120px;
}
header h1 { padding-left: 220px;
          padding-top: 40px;
		  margin: 0; 
		 text-shadow: 3px 3px #998d45;
		 font-size: 4em;
 }
nav {  background-color: #99bab2; 
	   letter-spacing: 0.1em;
	   font-weight: bold;
	   text-align: center; 
	   padding-right: 2em;
	   position: relative;
}
nav ul { list-style-type: none; 
        margin: 0;
}
nav ul ul { position: absolute; 
        background-color: #5564A0; 
		padding: 0; 
		text-align: left; 
		display: none; }		
nav ul ul li { border: 1px solid #00005D; 
          display: block; 
		  width: 8em; 
		  padding-left: 1em; 
		  margin-left: 0; }
nav li:hover ul { color: #FFFFFF;}
nav li { padding: 0.5em;
      display: inline-block;
}
main img { float: left;
           padding-right: 20px;
padding-bottom: 20px;}
nav a { text-decoration: none; }
nav a:link { color: #000033; }
nav a:visited { color: #735f34; }
nav a:hover { color: #FFFFFF; }
nav a { padding: 1em; } 
nav ul { list-style-type: none;
       margin: 0;
       padding:0;
}
main { background-color: #ffffff;
           color: #000000;
		   padding: 10px 20px;
	       overflow: auto; 
		   min-height: 400px;
} 
h2 { color: #4e0000; 
     font-family: arial, sans-serif;
	 margin: 5px;
}
footer {font-size:80%;
         text-align: center;
         padding: 10px;
		 clear: both;
		 padding-right: 2em;
}
